button {
  align-items: center;
  background: var(--background);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: .5rem 1rem;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--background-muted);
    }

    &:active,
    &:focus {
      outline: 3px solid var(--border-active);
    }
  }

  > *:not(:last-child) {
    margin-right: .5rem;
  }
}
