:root {
  --background-muted: #2e2e2e;
  --background-active: #3b2e58;
  --background: #000000;
  --border: #474747;
  --border-active: #3b2e58;
  --color-visited: #efd9fd;
  --color-active: #75b6e7;
  --color-muted: #cacaca;
  --color: #e6e6e6;
  --radius: .25rem;

  background-color: var(--background);
  color-scheme: dark;
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-synthesis: none;
  hyphens: manual;
  text-rendering: optimizeLegibility;
  word-break: break-word;

  * {
    line-height: 160%;
  }

  a {
    color: var(--color-active);
    text-decoration: none;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: var(--color-visited);
    }
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
  }
}

#root {
  align-items: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
