.searchBar {
  align-items: center;
  backdrop-filter: blur(25vw) contrast(.75);
  display: flex;
  flex-direction: row;
  font-size: 1.15rem;
  padding: 2rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  @media (max-width: 768px) {
    h1 > :not(:first-child),
    button {
      display: none;
    }
  }

  * {
    font-size: inherit;
  }

  h1 {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  > span {
    flex-basis: 40rem;

    input {
      background: var(--background);
      border-radius: var(--radius);
      border: 1px solid var(--border);
      padding: .5rem 1rem;
      width: 100%;

      &:focus {
        outline: 3px solid var(--border-active);
      }
    }
  }

  button {
    margin-left: 1rem;
  }
}
