.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 2rem 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(32rem) brightness(.5);
  -webkit-backdrop-filter: blur(32rem) brightness(.5);

  > * {
    font-size: 1.15rem;
  }

  > *:not(:last-child) {
    margin-right: 1rem;
  }

  h1 {
    font-weight: 600;
  }

  input {
    background: none;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: .5rem;
    flex-basis: 40rem;

    &:focus {
      outline: 2px solid var(--border-active);
    }
  }
}
