.suggestion {
  align-items: flex-start;
  background: var(--background-active);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;
  padding: 1rem;

  > *:not(:last-child) {
    margin-bottom: .5rem;
  }

  .suggestion__sub {
    font-size: .8rem;
    opacity: .75;
  }
}
