.suggestion {
  align-items: flex-start;
  border-radius: var(--radius);
  border: 1px solid var(--border-active);
  background: var(--background-active);
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;
  padding: 1rem;

  > *:not(:last-child) {
    margin-bottom: .5rem;
  }

  .suggestion__sub {
    color: var(--color-muted);
    font-size: .8rem;
  }
}
